$color_1: #212529;
$color_2: #ddd7c0;
$color_3: #cbc6b2;
$color_4: #ffffff;
$color_5: #000000;
$color_6: #e13a3a;
$color_7: #f9c67b;

$color_rgba_dark: rgba(33, 37, 41, 0.5);
$color_rgba_light: rgba(255, 255, 255, 0.5);

$roboto: Roboto, sans-serif;
$helvetica: Helvetica, sans-serif;
