@import "_content";
@import "_reset";
@import "_vars";

.header {
	padding: 12px 0 0 0;
}

.header_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.navigation {
	display: flex;
	flex-wrap: wrap;
}
.nav-link {
	color: $color_1;
	font-size: 18px;
	font-family: $roboto;
	margin: 0 20px 0 0;
	&:hover {
		color: $color_2;
		font-size: 18px;
		font-family: $roboto;
	}
}
.hero_link {
	&:active {
		color: $color_3;
		font-size: 18px;
		color: $color_3;
		font-size: 18px;
		font-family: $roboto;
		border-bottom: 1px solid $color_3;
		font-weight: 400;
	}
	color: $color_1;
	font-size: 18px;
	font-family: $roboto;
	border-bottom: 1px solid $color_1;
	text-transform: uppercase;
	margin: 0 0 124px 0;
	&:hover {
		color: $color_2;
		font-size: 18px;
		font-family: $roboto;
		border-bottom: 1px solid $color_2;
		font-weight: 400;
	}
}
.nav_tel {
	margin: 0 0 0 207px;
}
.hero {
	margin: 0 0 120px 0;
}
.hero_content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.hero_title {
	color: $color_1;
	font-size: 72px;
	font-family: $helvetica;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}
.hero_text {
	color: $color_1;
	font-size: 20px;
	font-family: $roboto;
	font-weight: 400;
	max-width: 445px;
	width: 100%;
	height: auto;
}
.hero_content_left {
	width: 55%;
	height: auto;
}
.hero_content_right {
	width: 45%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	margin: auto 0 0 0;
}
.hero_img {
	display: flex;
	justify-content: space-between;
	margin: -40px 0 0 0;
}
.hero_img_left {
	margin: auto 0 0 0;
	img {
		width: 329px;
		height: 493px;
	}
}
.hero_img_right {
	img {
		width: 678px;
		height: 809px;
	}
}
.about_content {
	display: flex;
	justify-content: space-between;
}
.about_content_left {
	width: 50%;
	height: auto;
	max-width: 562px;
	width: 100%;
	height: auto;
}
.about_content_right {
	width: 50%;
	height: auto;
	max-width: 446px;
	width: 100%;
	height: auto;
}
.about_title {
	color: $color_1;
	font-size: 48px;
	font-family: $helvetica;
	font-weight: 400;
}
.about_text {
	color: $color_1;
	font-size: 16px;
	font-family: $roboto;
	margin: 0 0 16px 0;
	&:last-of-type {
		margin: 0 0 44px 0;
	}
}
.about_content_right_info {
	margin: 0 0 24px 0;
}
.right_info {
	color: $color_1;
	font-size: 36px;
	font-family: $helvetica;
	font-weight: 400;
	margin: 0;
}
.info_text {
	color: $color_1;
	font-size: 16px;
	font-family: $roboto;
	font-weight: 400;
	margin: 0;
	width: 146px;
}
.step_content {
	display: flex;
	margin: 142px 0 0 0;
}
.step_content_left {
	width: 50%;
	height: auto;
	max-width: 562px;
	width: 100%;
	height: auto;
}
.step_content_right {
	width: 50%;
	height: auto;
	max-width: 325px;
	width: 100%;
	height: auto;
	margin: 0 0 0 140px;
}
.step_title {
	color: $color_1;
	font-size: 48px;
	font-family: $helvetica;
	font-weight: 400;
}
.step_text {
	color: $color_1;
	font-size: 16px;
	font-family: $roboto;
	font-weight: 400;
	margin: 0 0 56px 0;
}
.step_content_right_info {
	display: inline-flex;
}
.step_info_title {
	color: $color_1;
	font-size: 36px;
	font-family: $helvetica;
	font-weight: 400;
	width: 328px;
	height: auto;
}
.step_info_text {
	color: $color_1;
	font-size: 16px;
	font-family: $roboto;
	font-weight: 400;
	margin: 0;
	width: 329px;
}
.line {
	border-bottom: 1px $color_5 solid;
	display: block;
	width: 678px;
	margin: 24px 0 36px 0;
}
.projects_content {
	margin: 0 0 32px 0;
}
.projects_title {
	color: $color_1;
	font-size: 48px;
	font-family: $helvetica;
	font-weight: 400;
}
.projects_section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	img {
		width: 446px;
		height: 580px;
		margin: 0 0 20px 0;
	}
}
.reviews_content {
	margin: 120px 0 32px 0;
}
.reviews_title {
	color: $color_1;
	font-size: 48px;
	font-family: $helvetica;
	font-weight: 400;
}
.reviewer_name {
	color: $color_1;
	font-size: 18px;
	font-family: $helvetica;
	font-weight: 700;
	padding: 20px;
}
.reviews_blocks {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.block {
	width: 445px;
	height: 372px;
	border: 1px $color_5 solid;
}
.block_icon {
	padding: 40px 202px 32px 203px;
}
.block-text {
	width: 365px;
	height: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	display: inline-flex;
	margin: 0 40px 60px 40px;
	p {
		color: $color_1;
		font-size: 16px;
		font-family: $roboto;
		font-weight: 400;
	}
}
.order_content {
	margin: 120px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	img {
		width: 562px;
		height: 566px;
	}
}
.form_text {
	width: 678px;
	height: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 32px;
	display: inline-flex;
	margin: 0 0 72px 0;
	h3 {
		color: $color_1;
		font-size: 48px;
		font-family: $helvetica;
		font-weight: 400;
	}
	p {
		color: $color_1;
		font-size: 16px;
		font-family: $roboto;
		font-weight: 400;
	}
}
.primary_button {
	width: 166px;
	height: 46px;
	padding: 12px 20px 12px 20px;
	background: $color_1;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	color: $color_4;
	font-size: 16px;
	font-family: $roboto;
	font-weight: 400;
	&:hover {
		background: $color_2;
		color: $color_1;
	}
	&:active {
		background: $color_3;
		color: $color_1;
	}
	&:disabled {
		background: $color_rgba_dark;
		color: $color_rgba_light;
	}
}
.input_name {
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	display: inline-flex;
	border-bottom: 1px $color_1 solid;
	margin: 0 0 16px 0;
	&:focus {
		border-bottom: 1px $color_2 solid;
	}
	&:hover {
		border-bottom: 1px $color_2 solid;
	}
	&:required {
		border-bottom: 1px $color_6 solid;
	}
	&:valid {
		border-bottom: 1px $color_7 solid;
	}
}
.input_email {
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	display: inline-flex;
	border-bottom: 1px $color_1 solid;
	margin: 0 0 16px 0;
	&:focus {
		border-bottom: 1px $color_2 solid;
	}
	&:hover {
		border-bottom: 1px $color_2 solid;
	}
	&:required {
		border-bottom: 1px $color_6 solid;
	}
	&:valid {
		border-bottom: 1px $color_7 solid;
	}
}
.input_phone {
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	display: inline-flex;
	border-bottom: 1px $color_1 solid;
	margin: 0 0 16px 0;
	&:focus {
		border-bottom: 1px $color_2 solid;
	}
	&:hover {
		border-bottom: 1px $color_2 solid;
	}
	&:required {
		border-bottom: 1px $color_7 solid;
	}
	&:valid {
		border-bottom: 1px $color_6 solid;
	}
}
.footer_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 120px 0 0 0;
}
.footer_info {
	p {
		color: $color_1;
		font-size: 18px;
		font-family: $roboto;
		font-weight: 400;
		text-transform: uppercase;
	}
}
.footer_links {
	a {
		color: $color_1;
		font-size: 18px;
		font-family: $roboto;
		font-weight: 400;
		&:hover {
			color: $color_2;
			font-size: 18px;
			font-family: $roboto;
		}
	}
}
.social_icons {
	img {
		width: 32px;
		height: 32px;
	}
}
